<sergey-import src="header">
    <title>404&mdash;#dailybuild</title>
  </sergey-import>

<div class="top-shadow"></div>
<div id="404" class="slider-item" style="background-image: url('images/404.jpg');">
    <div class="container">
        <div class="row slider-text align-items-center justify-content-center">
            <div class="col-lg-7 text-center col-sm-12 element-animate"></div>
        </div>
    </div>
</div>

<sergey-import src="scripts" />

</body>
</html>