<sergey-import src="header">
    <title>chat&mdash;#dailybuild</title>
</sergey-import>

<div class="top-shadow"></div>

<div id="chat" class="slider-item">
    <div class="row slider-text align-items-center justify-content-center" style="background-image: url('images/industrial_hero_3.jpg');">
        <div class="container row">
            <div class=" col-lg-3 col-md-3 col-sm-3"></div>
            <div class="col-lg-7 col-md-7 col-sm-7">
                <p class="">
                    Come say 'Hello!' by joining our online IRC chatroom 😺
                </p>    
                <iframe class="mt-4" src="https://kiwiirc.com/client/irc.rizon.net/?nick=web-guest|?#dailybuild" style="border:0; width:100%; height:450px;"></iframe>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2"></div>
        </div>
    </div>
</div>

<sergey-import src="footer">
    <a href="chat.html#top" title="Back to top">
</sergey-import>

<sergey-import src="scripts" />
</body>
</html>