<sergey-import src="header">
    <title>dpro comic;#dailybuild</title>
  </sergey-import>
  <div style="background-color: black;">
  <div id="dpro-comic" class="slider-item">
    <div class="row slider-text align-items-center justify-content-center" style="padding-top: 80px;">
        <div id="dpro-comic" class="container">
          <div class="row pt-5">
            <div class="col-md-1"></div>
            <div class="col-md-10 readable-white">
              <p class="mt-5 ml-3 mr-3 mb-2">
                dpro is a brand new programming language few intense dailyprogrammers develop in their free time.
                Redefining the standards of programming, solving hard problems, and building incredible tech, they meet 
                weekly in a online voice chatroom to plan and strategize. 
              </p>
              <p>
                <span style="color:orange">starring🌟</span>
                <ul>
                  <li>
                    kenster as 'Monsieur du Raton'
                  </li>
                  <li>
                    Googlebot as 'Anonymous hacker'
                  </li>
                  <li>
                    bloom as 'Her chaddity ponycorn'
                  </li>
                  <li>
                    socraticDev as 'a bear figure'
                  </li>
                </ul>
              </p>
            </div>
            <div class="col-md-1"></div>
          </div>
            <div class="row">
                  <div class="col-lg-4 col-md-4 col-xs-6 thumb mt-5">
                    <a href="images/dpro-comic-1.png" data-fancybox="images"  data-width="1080" data-height="800" data-caption="First meeting started a little later than planned. Her chaddity ponycorn was held back by unbased chores but heroically made it to the meetup. socraticDev stood back lurking. A productive lurker who will be keeping on documentating the developpement of the basest programming language ever... and informing a foreign nation-state secret services about it." class="fancybox" rel="ligthbox" title="dpro - lurking permitted">
                      <img alt="dpro - lurking permitted" src="images/dpro-comic-1.png"
                        class="img-fluid rounded " />
                    </a>
                  </div>
                <div class="col-lg-4 col-md-4 col-xs-6 thumb mt-5">
                  <a href="images/dpro-comic-2.png" data-fancybox="images"  data-width="1080" data-height="800" data-caption="bloom steers kenster and Googlebot toward the classic 'Compiler Dragon book'. While waiting for kenster, guys talked about some hilarious idea : an inverted walrus operator. Python introduced the controversial walrus operator ':='. Why not an inverted one for dpro?" class="fancybox" rel="ligthbox" title="dpro - a walrus to wrangle">
                    <img alt="dpro - a walrus to wrangle" src="images/dpro-comic-2.png"
                      class="img-fluid rounded " />
                  </a>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-6 thumb mt-5">
                    <a href="images/experience-socdev.png" data-fancybox="images"  data-width="1080" data-height="800" data-caption="socraticDev is not much use at writing low-level code. kenster suggests to elevate socdev to guru status. A bit like the funny 'Cornelius' from www.experiencecornelius.com who peacefully gets seen, touched, and feed." class="fancybox" rel="ligthbox" title="dpro - experience socraticDev">
                      <img alt="dpro - experience socraticDev" src="images/experience-socdev.png"
                        class="img-fluid rounded " />
                    </a>
                  </div>
                  <div class="col-lg-4 col-md-4 col-xs-6 thumb mt-5">
                    <a href="images/comic-dpro-4.png" data-fancybox="images"  data-width="1080" data-height="800" data-caption="dpro's third meetup started with bloom having computer mouse issue. This strip features bloom with spiders because ... bloom has a love/hate relationship with these 8-legged bugs. Otherwise, the boys haven't had the courage to read and read again the Compiler book. Even have they tried to compare dpro to grammar-less languages like python or JavaScript. Using knowledge about human motivation, Miles the walrus urge them to become learned in Compiler theory or experience their worst fear forever." class="fancybox" rel="ligthbox" title="dpro - do ur grammar!">
                      <img alt="dpro - do ur grammar!" src="images/comic-dpro-4.png"
                        class="img-fluid rounded " />
                    </a>
                  </div>
                  <div class="col-lg-4 col-md-4 col-xs-6 thumb mt-5">
                    <a href="images/daddy-photomaton.jpg" data-fancybox="images"  data-width="1080" data-height="800" data-caption="daddy and doggos at photo booth" class="fancybox" rel="ligthbox" title="doggos at photomaton">
                      <img alt="dpro - do ur grammar!" src="images/daddy-photomaton.jpg"
                        class="img-fluid rounded " />
                    </a>
                  </div>
          </div>
    </div>
  </div>
  <div style="margin-top: 260px;">    
    <sergey-import src="footer">
      <a href="dpro-comic.html#top" title="Back to top">
      </sergey-import>
      <sergey-import src="scripts" />
    </div>
  </div>
</body>
</html>
