<sergey-import src="header">
  <title>home&mdash;#dailybuild</title>
</sergey-import>

    <div id="index" class="top-shadow"></div>

    <section class="home-slider owl-carousel">
      <div class="slider-item" style="background-image: url('images/build-shrine-2.png');">
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center">
            <div class="col-lg-7 text-center col-sm-12 element-animate">
              <h1 class="m-4"><span>We Are A Tech Builders Community</span></h1>
              <p class="mb-5 w-75 readable-white">Developing and improving FOSS and proprietary projects</p>
              <a href="index.html#battlestations" title="show me the battlestations">
                <i class="fa-3x fa fa-arrow-circle-down"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      
      <div class="slider-item" style="background-image: url('images/canada-arm.png');">
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center">
            <div class="col-lg-7 text-center col-sm-12 element-animate">
              <h1><span>Nurturing success thru joint effort</span></h1>
              <p class="mb-5 w-75 readable-white">"With enough eyeballs, all software problems are shallow" <cite>Linus Torvalds</cite></p>
              <a href="index.html#battlestations" title="show me the battlestations">
                <i class="fa-3x fa fa-arrow-circle-down"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      
      <div class="slider-item" style="background-image: url('images/open-office-1.jpeg');">
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center">
            <div class="col-lg-7 text-center col-sm-12 element-animate">
              <h1><span></span></h1>
              <p class="mb-5 w-75 readable-white">"We'd rather work remotely"</p>
              <a href="index.html#battlestations" title="show me the battlestations">
                <i class="fa-3x fa fa-arrow-circle-down"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <div id="battlestations" class="container">
      <div class="jumbotron">
        <h4 class="display-4">"The Best Investment is in the Tools of One's Trade"</h4>
        <p class="float lead pull-right"><em>Benjamin Franklin</em></p>
      </div>
    <div class="row">
          <div class="col-lg-3 col-md-4 col-xs-6 thumb mt-5">
            <a href="images/bernie-workstation.png" data-fancybox="images"  data-width="520" data-height="520" data-caption="Bernie" class="fancybox" rel="ligthbox" title="Bernie's workstation">
              <img alt="Bernie workstation" src="images/bernie-workstation.png"
                class="img-fluid rounded " />
            </a>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6 thumb mt-5">
            <a href="images/bloom-workstation.png"  data-fancybox="images" data-width="520" data-height="520" data-caption="bloom" class="fancybox" rel="ligthbox" title="bloom's workstation">
              <img alt="bloom workstation" src="images/bloom-workstation.png"
                class="img-fluid rounded" />
            </a>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6 thumb mt-5">
            <a href="images/callcc-workstation.png" data-fancybox="images"  data-width="520" data-height="520" data-caption="callcc" class="fancybox" rel="ligthbox" title="callcc's workstation">
              <img alt="callcc's workstation" src="images/callcc-workstation.png"
                class="img-fluid rounded " />
            </a>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6 thumb  mt-5">
            <a href="images/Googlebot-workstation.png"  data-fancybox="images" data-width="520" data-height="520" data-caption="Googlebot" class="fancybox" rel="ligthbox" title="Googlebot's workstation">
              <img alt="Googlebot workstation" src="images/Googlebot-workstation.png"
                class="img-fluid rounded" />
            </a>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6 thumb  mt-5">
            <a href="images/luxemboye-workstation.png"  data-fancybox="images" data-width="520" data-height="520" data-caption="luxemboye" class="fancybox" rel="ligthbox" title="luxemboye's workstation">
              <img alt="luxemboye workstation" src="images/luxemboye-workstation.png"
                class="img-fluid rounded" />
            </a>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6 thumb  mt-5">
            <a href="images/mabynogy-workstation.png"  data-fancybox="images" data-width="520" data-height="520" data-caption="mabynogy" class="fancybox" rel="ligthbox" title="mabynogy's workstation">
              <img alt="mabynogy workstation" src="images/mabynogy-workstation.png"
                class="img-fluid rounded" />
            </a>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6 thumb mt-5">
            <a href="images/sebbu-workstation.png"  data-fancybox="images" data-width="520" data-height="520"  data-caption="sebbu" class="fancybox" rel="ligthbox" title="sebbu's workstation">
              <img alt="sebbu workstation" src="images/sebbu-workstation.png"
                class="img-fluid rounded" />
            </a>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6 thumb mt-5">
            <a href="images/socratic-workstation.png"  data-fancybox="images" data-width="520" data-height="520" data-caption="socraticDev" class="fancybox" rel="ligthbox" title="socraticDev's workstation">
              <img alt="socraticDev workstation" src="images/socratic-workstation.png"
                class="img-fluid rounded" />
            </a>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6 thumb mt-5">
            <a href="images/tacixat.png" data-fancybox="images" data-width="520" data-height="520" data-caption="tacixat" class="fancybox" rel="ligthbox" title="tacixat's workstation">
              <img alt="tacixat workstation" src="images/tacixat.png"
                class="img-fluid rounded" />
            </a>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6 thumb mt-5">
            <a href="images/tuy360-workstation.png"  data-fancybox="images" data-width="520" data-height="520" data-caption="tuy360" class="fancybox" rel="ligthbox" title="tuy360's workstation">
              <img alt="tuy360 workstation" src="images/tuy360-workstation.png"
                class="img-fluid rounded" />
            </a>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6 thumb mt-5">
            <a href="images/var-g-workstation.png"  data-fancybox="images" data-width="520" data-height="520" data-caption="var-g" class="fancybox" rel="ligthbox" title="var-g's workstation">
              <img alt="var-g workstation" src="images/var-g-workstation.png"
                class="img-fluid rounded" />
            </a>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6 thumb mt-5">
            <a href="images/winny-workstation.png"  data-fancybox="images" data-width="520" data-height="520" data-caption="winny" class="fancybox" rel="ligthbox" title="winny's workstation">
              <img alt="winny workstation" src="images/winny-workstation.png"
                class="img-fluid rounded" />
            </a>
          </div>

      </div>
    </div>
    <sergey-import src="chatbot" />
    <sergey-import src="footer">
      <a href="index.html#top" title="Back to top">
    </sergey-import>

    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214"/></svg></div>

    <sergey-import src="scripts" />
  </body>
</html>