<sergey-import src="header">
    <title>Tekdude&mdash;#dailybuild</title>
  </sergey-import>

<div id="tekdude" class="slider-item">
    <div class="row slider-text align-items-center justify-content-center" style="background-image: url('images/industrial_hero_3.jpg');">
    <div class="bg-success jumbotron">
        <h1 class="display-4">Tekdude roadtrip from East to West Coast 🏁</h1>
        <hr class="my-4">
        <p class="lead">Due to COVID19, Tekdude will be prompt and won't be abot to visit the country as much he wanted to. So we made up a souvenir photo album for him.  From the Mississipi to Spokane.</p>
    </div>
    </div>
</div>

<div class="container">
    <div class="row">
          <div class="col-lg-3 col-md-4 col-xs-6 thumb mt-5">
            <a href="images/1-rock_island_arsenal-davenport-Iowa.jpg" data-fancybox="images"  data-width="600" data-height="400" data-caption="The Rock Island Arsenal comprises 946 acres (383 ha), located on Arsenal Island, originally known as Rock Island, on the Mississippi River between the cities of Davenport, Iowa, and Rock Island, Illinois." class="fancybox" rel="ligthbox" title="1-rock_island_arsenal-davenport-Iowa.jpg">
              <img alt="" src="images/1-rock_island_arsenal-davenport-Iowa.jpg"
                class="img-fluid rounded " />
            </a>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6 thumb mt-5">
            <a href="images/2-iowa-city.jpg" data-fancybox="images" data-width="600" data-height="400" data-caption="Iowa City is a city in Johnson County, Iowa, United States. It is the home of the University of Iowa and county seat of Johnson County, at the center of the Iowa City Metropolitan Statistical Area. The U.S. Census Bureau estimated the city's population at 75,130 in 2019, making it the state's fifth-largest city." class="fancybox" rel="ligthbox" title="2-iowa-city.jpg">
              <img alt="" src="images/2-iowa-city.jpg"
                class="img-fluid rounded" />
            </a>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6 thumb  mt-5">
            <a href="images/4-sioux-falls.jpg"  data-fancybox="images" data-width="600" data-height="400" data-caption="Sioux Falls(Lakota: Íŋyaŋ Okábleča Otȟúŋwahe;Stone Shatter City) is the most populous city in the U.S. state of South Dakota and the 140th-most populous city in the United States. It is the county seat of Minnehaha County and also extends into Lincoln County to the south, proximate with the Iowa state line." class="fancybox" rel="ligthbox" title="sioux-falls.jpg">
              <img alt="" src="images/4-sioux-falls.jpg"
                class="img-fluid rounded" />
            </a>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6 thumb mt-5">
            <a href="images/5-black-hills-crazy-horse-south-dakota.jpg"  data-fancybox="images" data-width="600" data-height="400" data-caption="The Crazy Horse Memorial is a mountain monument under construction on privately held land in the Black Hills, in Custer County, South Dakota, United States. It will depict the Oglala Lakota warrior, Crazy Horse, riding a horse and pointing into the distance." class="fancybox" rel="ligthbox" title="5-black-hills-crazy-horse-south-dakota.jpg">
              <img alt="" src="images/5-black-hills-crazy-horse-south-dakota.jpg"
                class="img-fluid rounded" />
            </a>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6 thumb mt-5">
            <a href="images/6-black-hills-crazy-horse-2-south-dakota.jpg"  data-fancybox="images" data-width="600" data-height="400" data-caption="Crazy Horse was a Native American war leader of the Oglala Lakota. He took up arms against the U.S. Federal government to fight against encroachments on the territories and way of life of the Lakota people. His most famous actions against the U.S. military included the Fetterman Fight (21 December 1866) and the Battle of the Little Bighorn (25–26 June 1876)." class="fancybox" rel="ligthbox" title="6-black-hills-crazy-horse-2-south-dakota.jpg">
              <img alt="" src="images/6-black-hills-crazy-horse-2-south-dakota.jpg"
                class="img-fluid rounded" />
            </a>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6 thumb mt-5">
            <a href="images/7-big-horn-wyoming.jpg"  data-fancybox="images" data-width="600" data-height="400" data-caption="Big Horn is an unincorporated community and census-designated place (CDP) in Sheridan County, Wyoming, United States. The population was 198 at the 2000 census and 490 at the 2010 census." class="fancybox" rel="ligthbox" title="7-big-horn-wyoming.jpg">
              <img alt="" src="images/7-big-horn-wyoming.jpg"
                class="img-fluid rounded" />
            </a>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6 thumb mt-5">
            <a href="images/8-big-horn-wyoming.jpg"  data-fancybox="images" data-width="600" data-height="400" data-caption="Located in north-central Wyoming, the Bighorn Mountains are a sister range of the Rocky Mountains. Conveniently located halfway between Mt. Rushmore and Yellowstone National Park, the Bighorns are a great vacation destination in themselves. " class="fancybox" rel="ligthbox" title="8-big-horn-wyoming.jpg">
              <img alt="" src="images/8-big-horn-wyoming.jpg"
                class="img-fluid rounded" />
            </a>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6 thumb mt-5">
            <a href="images/9-helena-lewis-and-Clark-Nat-forest-Montana.jpg"  data-fancybox="images" data-width="600" data-height="400" data-caption="Lewis and Clark National Forest is located in west central Montana, United States. Spanning 2,912 square miles, the forest is managed as two separate zones. The eastern sections, under the Jefferson Division, is a mixture of grass and shrublands dotted with 'island' pockets of forested areas." class="fancybox" rel="ligthbox" title="9-helena-lewis-and-Clark-Nat-forest-Montana.jpg">
              <img alt="" src="images/9-helena-lewis-and-Clark-Nat-forest-Montana.jpg"
                class="img-fluid rounded" />
            </a>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6 thumb mt-5">
            <a href="images/10-ear-mountain-montana-detour-kek.jpg"  data-fancybox="images" data-width="600" data-height="400" data-caption="Ear Mountain is an isolated eastern outpost of the Sawtooth Range and is located at the north-south midpoint of Montana's Rocky Mountain Front. Ear Mountain is unusual in that it juts out from the main walls of the Front, making it one of the most distinctive peaks in the entire range. The peak's odd-sounding name is descriptive; it's said to resemble an ear lying on its side. But, perhaps, it could also be called Ear Mountain because it's of such interest to 'mountain-ears.'" class="fancybox" rel="ligthbox" title="10-ear-mountain-montana-detour-kek.jpg">
              <img alt="" src="images/10-ear-mountain-montana-detour-kek.jpg"
                class="img-fluid rounded" />
            </a>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6 thumb mt-5">
            <a href="images/11-lolo-national-forest-montana.jpg"  data-fancybox="images" data-width="600" data-height="400" data-caption="Lolo National Forest is a national forest located in western Montana, United States with the western boundary being the state of Idaho. The forest spans 2 million acres (8,000 km2) and includes four wilderness areas; the Scapegoat and the Selway-Bitterroot Wilderness are partially within the forest while the Welcome Creek and Rattlesnake Wildernesses are solely in Lolo National Forest." class="fancybox" rel="ligthbox" title="11-lolo-national-forest-montana.jpg">
              <img alt="" src="images/11-lolo-national-forest-montana.jpg"
                class="img-fluid rounded" />
            </a>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6 thumb mt-5">
            <a href="images/12-spokane-washington.jpg"  data-fancybox="images" data-width="600" data-height="400" data-caption="Spokane (spoʊˈkæn spoh-KAN) is a city in and the county seat of Spokane County, Washington, United States. It is located in eastern Washington state along the Spokane River adjacent to the Selkirk Mountains and west of the Rocky Mountain foothills, 92 miles (148 km) south of the Canada–U.S. border, 18 miles (30 km) west of the Washington–Idaho border, and 279 miles (449 km) east of Seattle along Interstate 90." class="fancybox" rel="ligthbox" title="12-spokane-washington.jpg">
              <img alt="" src="images/12-spokane-washington.jpg"
                class="img-fluid rounded" />
            </a>
          </div>
      </div>
    </div>

    <sergey-import src="footer">
        <a href="tekdude.html#top" title="Back to top">
      </sergey-import>

      <sergey-import src="scripts" />
    </body>
  </html>