<sergey-import src="header">
  <title>time&mdash;#dailybuild</title>
</sergey-import>

<link rel="stylesheet" href="css/time.css" />
<link rel="stylesheet" href="css/jquery.ui.timepicker.css" />

<div id="time" class="slider-item">
  <div class="row slider-text align-items-center justify-content-center" style="background-image: url('images/industrial_hero_3.jpg');">

<div class="col-md-1"></div>
<div id="convertor" class="col-md-3">
  <div id="display-converted-beats">convert time to @beats</div>
  <p>time: <input readonly type="text" id="timepicker"></p></div>
<div class="col-md-6 readable-white">
<h3 id="timetable">swatch Internet and dailybuilders time</h3>
  
<table class="tg">
  <thead>
    <tr>
      <th class="tg-0lax"></th>
      <th class="tg-0lax">time<br /><br /></th>
      <th class="tg-0lax">date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="tg-0lax">@beats</td>
      <td class="tg-0lax" id="beattime"></td>
      <td class="tg-0lax" id="beatdate"></td>
    </tr>
    <tr>
      <td class="tg-0lax">New York</td>
      <td class="tg-0lax" id="nytime"></td>
      <td class="tg-0lax" id="nydate"></td>
    </tr>
    <tr>
      <td class="tg-0lax">Europe(central)</td>
      <td class="tg-0lax" id="paristime"></td>
      <td class="tg-0lax" id="parisdate"></td>
    </tr>
    <tr>
      <td class="tg-0lax">Pacific Time (Seattle,SF, LA)</td>
      <td class="tg-0lax" id="sftime"></td>
      <td class="tg-0lax" id="sfdate"></td>
    </tr>
    <tr>
      <td class="tg-0lax">Chicago<br /></td>
      <td class="tg-0lax" id="chitime"></td>
      <td class="tg-0lax" id="chidate"></td>
    </tr>
    <tr>
      <td class="tg-0lax">Turkey</td>
      <td class="tg-0lax" id="tktime"></td>
      <td class="tg-0lax" id="tkdate"></td>
    </tr>
    <tr>
      <td class="tg-0lax">UTC<br /></td>
      <td class="tg-0lax" id="utctime"></td>
      <td class="tg-0lax" id="utcdate"></td>
    </tr>
  </tbody>
</table>
</div>
<div class="col-md-2"></div>  
</div>
<sergey-import src="footer">
  <a href="time.html#top" title="Back to top">
  </sergey-import>
  <sergey-import src="scripts" />
  <script type="text/javascript" src="include/jquery-1.9.0.min.js"></script>
  <script type="text/javascript" src="include/ui-1.10.0/jquery.ui.core.min.js"></script>
  <script type="text/javascript" src="include/ui-1.10.0/jquery.ui.widget.min.js"></script>
  <script type="text/javascript" src="include/ui-1.10.0/jquery.ui.tabs.min.js"></script>
  <script type="text/javascript" src="include/ui-1.10.0/jquery.ui.position.min.js"></script>
  <script src="js/jquery.ui.timepicker.js"></script>
  <script src="js/beattime.js"></script>