<div class="row chatbot-row">
  <div class="col-md-8"></div>
  <div class="col-12 col-md-3 pt-10 bot-module" >
    <img id="bot-img" src="images/monster.png"  />
      <p><span id="bot-answer-label">dailybot&trade; says:</span></p>
      <p id=bot-answer></p>
      <p>
        <div id="chatbot-div">
            <input
              id="chatbot-input"
              type="text"
              placeholder="Say something..."
              autocomplete="off"
            />
          </div>
        </p>
  </div>
  <div class="col-md-1"></div>
</div>